<p style="color: green"><%= notice %></p>

<%= render @item_template %>

<div>
  <%= link_to "Edit this item", edit_item_template_path(@item_template) %> |
  <%= link_to "Back to items", item_templates_path %>

  <%= button_to "Destroy this item", @item_template, method: :delete %>
</div>
